<h1>
    array Page
</h1>
<input type="button" (click)="obtenerArray()" value="Obtener Array" class="btn btn-primary">
<input type="text" value="{{sortedArray | json}}" class="form-control">

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>N°</th>
            <th>number</th>
            <th>quantity</th>
            <th>first position</th>
            <th>last position</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let arr of arrayResponse; let i = index" [ngClass]="{'bg-success':arr.quantity >= 2, 'bg-warning':arr.quantity === 1, 'bg-secondary': arr.quantity < 1}">
            <td>{{i}}</td>
            <td>{{arr.number}}</td>
            <td>{{arr.quantity}}</td>
            <td>{{arr.firstPosition}}</td>
            <td>{{arr.lastPosition}}</td>
        </tr>
    </tbody>
</table>