<h1>
    dict Page
</h1>
<input type="button" (click)="obtenerDict()" value="Obtener Dict" class="btn btn-primary">

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>N°</th>
            <th *ngFor="let col of cabezera_array">{{col}}</th>
            <th>Suma numericos contenidos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let arr of arrayResponse; let i = index">
            <td class="text-right">{{i}}</td>
            <td class="text-right" *ngFor="let obj of arr">{{obj.quantity}}</td>
            <td class="text-right">{{arr.total}}</td>
        </tr>
    </tbody>
</table>