<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/array-route" routerLinkActive="active">Array</a>
    <a class="navbar-brand" routerLink="/dict-route" routerLinkActive="active">Dict</a>
</nav>
<router-outlet></router-outlet>